*.log
*.swp
__pycache__
.idea
.vscode
# Local development files / folders
venv/
venv_*/
.stubs/
.env
### Exclude database files
/*.sqlite*
/*.db
### Exclude files starting with dev_ (e.g. small local python scripts using for experimenting / testing )
/dev_*

# PyPi build files
build
dist
*.egg-info

# Test ouput files
.coverage
